.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.headshot{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

header{
    text-align: center;
}

body{
    background-color:honeydew;
    font-family: sans-serif, verdana, arial;
}

button{
    background-color:aliceblue;
    color:gray;
}
footer{
    text-align: center;
}
h2{
    text-align: center;
}